<footer class="page-footer grey darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        
        <h5 class="white-text"><img src="../../public/images/legacyMoto.png" alt="legacy logo" width="39.8px" height="60px" class="responsive-img left">Legacy School<i class="icon ion-university x3 "></i></h5>
        
        <p class="grey-text text-lighten-4">If you want the best for your children, kindly enroll them now!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social media links</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="#!">
              <i class="icon ion-social-twitter x15"></i>
              Twitter</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">
              <i class="icon ion-social-facebook"></i>
              Facebook</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">
              <i class="icon ion-social-google x15"></i>
              Google</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">
              <icon class="ion-social-linkedin x15"></icon>
              LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © <span id="copyrightyear"></span> POWERED BY TAHYWOH
      <a class="grey-text text-lighten-4 right" href="tel: +2348102590790"><i class="icon ion-android-call left"></i>
        <small class="x1 hide-on-small-only">+234&nbsp81&nbsp02&nbsp590&nbsp790&nbsp</small></a>
    </div>
  </div>
</footer>