<header class="center-align text-center" id="legacyTitle">
  <span class="logo"> <img src="../../public/images/legacyMoto.png" alt="legacy logo" width="139px" height="113px"></span>
  <h2>
    LEGACY SCHOOL
  </h2>
  <h4 class="school-motto">Learning today, Leading tomorrow</h4>
</header>