<header class="center-align text-center" id="legacyTitle">
  <span class="logo"> <i class="icon ion-earth x5 center-align text-center butter"></i></span>
  <h2>
    LEGACY SCHOOL
  </h2>
  <h4 class="school-motto">Learning today, Leading tomorrow</h4>
</header>