<nav class="teal navbar-fixed">
  <div class="nav-wrapper">
    <div class="call">
      <a href="tel: +2348033155152" class="left call-us" title="call us">
        <i class="icon ion-android-call left"></i>
        <small class="x1 hide-on-small-only">call us on +234&nbsp80&nbsp33&nbsp155&nbsp152&nbsp||&nbsp</small>
      </a>
    </div>
    <div class="mail">
      <a href="mailto: information@legacyschool.com" class=" mail-us" title="mail us">
        <i class="icon ion-ios-email left"></i>
        <small class="x1 hide-on-small-only">info@legacyschool.com</small>
      </a>
    </div>

    <ul id="nav-mobile" class="left hide-on-med-and-down right">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/admissions">Admissions</a>
      </li>
      <li>
        <a href="/legacy alumni">Legacy Alumni</a>
      </li>
      <li>
        <a href="/principal officers">Principal Officers</a>
      </li>
      <li>
        <a href="/about legacy school">About</a>
      </li>
    </ul>


    {{!-- TODO: Mobile screen nav --}}
    <span class="hide-on-large-only right w3-opennav right-align" onclick="w3_open()">
      <i class="icon ion-navicon-round btn btn-floating pulse center-align"></i>
    </span>

    {{!-- <nav class="hide-on-large-only w3-sidenav teal white-text col s1" style="display:none">
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-closenav w3-large lighten-4 waves-effect waves-light">Close &times;</a>
      <div class="divider"></div>
      <a href="/" class="white-text  waves-effect waves-light">Home</a>
      <div class="divider"></div>
      <a href="/admissions" class="white-text  waves-effect waves-light">Admissions</a>
      <div class="divider"></div>
      <a href="/legacy alumni" class="white-text  waves-effect waves-light">legacy alumni</a>
      <div class="divider"></div>
      <a href="/contacts" class="white-text  waves-effect waves-light">Contacts</a>
    </nav> --}}
  </div>
</nav>