<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="../../public/images/legacyMoto.png">
  <link rel="stylesheet" href="../../public/css/materialize.min.css">
  <link rel="stylesheet" href="../../public/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../public/css/ionicons.min.css">
  <link rel="stylesheet" href="../../public/css/w3.css">
  <link rel="stylesheet" href="../../public/css/animate.css">
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="../../public/css/responsiveapp.css">
  <title>Legacy Private School</title>
</head>

<body>
  {{> _navbar}} {{> _header}}


  <div class="container">
    {{{body}}}
  </div>

  <div class="parallax-container">
    <div class="parallax">
      <img src="../../public/images/thought-catalog-217861.png">
    </div>
  </div>

{{> _footer}}









  <script src="../public/js/jquery.min.js"></script>
  <script src="../public/js/materialize.min.js"></script>
  <script src="./../public/js/index.js"></script>
  {{!-- mobile sidenav --}}
  <script>
    //initializing parallax function
    $('.parallax').parallax();
    function w3_open() {
      $('.w3-sidenav').slideToggle(500);
      $('.w3-opennav').hide();
    }
    //testing materialize carousel
    $('.carousel.carousel-slider').carousel({
      fullWidth: true,
      duration: 300,
      indicators: true
    });

    function w3_close() {
      $('.w3-sidenav').hide();
      $('.w3-opennav').show();
    }
    document.getElementById('copyrightyear').innerHTML = new Date().getFullYear()
  </script>
</body>

</html>