<div class="row">
  <div class="col s4 push s6 butter-bg">
    <h4 class="flow-text teal white-text hshow">Welcome to our school!</h4>
    <div class="divider"></div>
    <p class="pshow"> Legacy School is a school consisting of primary and secondary section with the main objective of improving the qality
      of education of education in the country by providing students with qualified and talented teachers as well as well
      equipped facilitiees so as to make better the future of Nigerians.</p>
    <p class="pshow"> Legacy, a school which was established over a decade ago has uniquely distinguished herself among other schools among
      other schools out there by provisision of quality education to pupils and students. It's not been tool long the school
      was establlished but the scholl has staggeringly achieved a lots.
    </p>
    <p class="pshow">The school took third in the inter house sport competition that took place at hope School as at year 2009. The proprietor
      of the school was the President of
      <span class="napps" title="National Association of Proprietors of Private Schools">NAPPS between year 2014 and 20016.</span>.
      <br> Among many other achievements, the school has been the leading school in Osun state today and she is working towards
      being the best throughout the nation.
    </p>
  </div>
</div>