<div class="admissions ">
  <h3 class="center-align teal white-text x3 hpadding">Legacy Admissions</h3>

  <div class="row">
    <div class="col m6 s12 butter-bg">
      <div class="section teal white-text hshow">
        Primary Section
      </div>
      <div class="divider"></div>
      <p class="pshow">Admission for students to Legacy Primary classes always start during the sixth month break of the third term. All parents
        who want to enroll their children into Legacy School specifically primary section are thereofre expected to start
        their admission processing as soon as possible , especially primary going to secondary. You are also advised to check
        or website as to the latest news regarding that. </p>
    </div>
    <div class="col m6 s12 butter-bg">
      <div class="section teal white-text hshow">
        Secondary Section
      </div>
      <div class="divider"></div>
      <p class="pshow">Admissions to secondary classes in Legacy School is quite easy and also start and also start few weeks before resumption.
        All concerned parents are hereby advised to make the necessary payments and purchase the required text-books as this
        is very important in increasing the performance of stundets and making their future a better one. Ensure you visit
        our website often for latest feeds. </p>

    </div>
  </div>

  <div class="important-notice butter-bg">
    <h4 class="hpadding x2 teal center">NOTE</h4>
    <p class="pshow">
      All students interested in writing their
      <abbr title="Senior Secondary School Certificate Examination">SSCE</abbr> are advised to see the principal of the school and rightful coordinator in charge for proper procedures
      through the registration, payments and required instructions from the school.
      <br> We will not be responsible for consequences arising from improper processing or registration
    </p>
    <p class="pshow">
      Thanks for patiently reading through.
      <br/> We want the best for your students and pupils!
    </p>
  </div>

</div>