
{{> _parallax}}

   <div class="carousel carousel-slider center-align">
   
    <div class="carousel-item teal white-text valign-wrapper" href="#one!">
      <h2>Legacy Private School</h2>
      <p class="white-text">Welcome to the school of Geniuses!</p>
    </div>
    <div class="carousel-item dark-brown white-text valign-wrapper" href="#two!">
      <h2><img src="../../public/images/legacyMoto.png" alt="legacy logo" width="139px" height="113px" responsive-img></h2>
      <p class="white-text">The school with the best Qualified teachers</p>
    </div>
    <div class="carousel-item amber white-text valign-wrapper" href="#three!">
      <h2>Learning today, Leading tommorow</h2>
      <p class="white-text">It's exactly as our motto says!</p>
    </div>
    <div class="carousel-item blue white-text valign-wrapper" href="#four!">
      <h2>Come one, come all.</h2>
      <p class="white-text"> Give your children a better future<br/>Enroll your children now!</p>
    </div>
  </div>
      


<div class="slideshow" id="carousel container center-align fixed" style="background-color: rgba(0, 128, 0, .2) !important;">
  <img class="mySlides" src="../public/images/ben-white-148435.png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/clay-banks-258326 (1).png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/doctype-hi-res.jpg" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/edu.jpg" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/roman-mager-59976.png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/sch.jpg" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/element5-digital-352043.png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/gaelle-marcel-8992.png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/j-kelly-brito-256889.png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/jeremy-bishop-131058.png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/jeshoots-com-357165.png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/aaron-burden-236415.png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/jesse-orrico-60373.png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/kimberly-farmer-287677.png" width="50%" height="50%" class="responsive-img">
</div>


<div id="homepage">
  <div class="row">
    <div class="col m6 s12 section card small">
      <h4 class="flow-text teal white-text">Welcome to our school!</h4>
      <div class="divider"></div>
      <p> Legacy School is a school consisting of primary and secondary section with the main objective of improving the quality
        of education of education in the country by providing students with qualified and talented teachers as well as well
        equipped facilities so as to make better the future of Nigerians.
      </p>
      <p class="truncate"> Legacy, a school which was established over a decade ago has uniquely distinguished herself among other schools among
      other schools out there by provisision of quality education to pupils and students. It's not been tool long the school
      was establlished but the scholl has staggeringly achieved a lots.
    </p>
      <a href="/about legacy school" class="btn waves-effect waves-light right">Read more</a>
    </div>

    <div class="col m6 s12 section card">
      <h4 class="flow-text">Notifications</h4>
      <div class="divider"></div>
      <ul class="notifications">
        <li>
          <a href="">Legacy emerges thid in the tenth
          <abbr title="Mathematics Association of Nigeria">MAN&rsquo;s</abbr> competition.
          </a> 
        </li>
        <li><a href="" >NAPPS examination commences next week, the Principal reminded!</a></li>
        <li><a href="">Third term examination result released</a></li>
        <li><a href="">Any student who fails to be obedient shall be thoroughly dealth with, the proprietor lamented</a></li>
        <li><a href="">New Prefects assigned</a></li>
        <li><a href="">Legacy Alumni organizes a programm for the past Legacy students</a></li>
        <li><a href="">Our annual meetings still holds, says Legacy Alumni</a></li>
      </ul>
    </div>
  </div>

  <div class="row second-section">
    <div class="col m6 s12 section card section2">
      <h4 class="flow-text">Academic Programs</h4>
      <div class="divider"></div>
      <p>Full time Non-boarding school </p>
      <p>Primary and Secondary school sections </p>
      <p>Extramural classes for both Primary and secondary</p>
      <p>Junior BECE for the Junios Secondary School Students</p>
      <p>Senior WAEC for the Senior Secondary School Students</p>
      <p>Day care for small children</a></p>
      
    </div>

    <div class="col m6 s12 section card section2">
      <h4 class="flow-text">Admissions</h4>
      <div class="divider"></div>
      <p><a href="">Primary Section</a></p>
      <p><a href="">Secondary Section</a></p>
      <p><a href="">Day care for small children</a></p>
    </div>
  </div>
</div>