

   <div class="carousel carousel-slider center-align" data-indicators="true">
   
    <div class="carousel-item red white-text" href="#one!">
      <h2>Legacy Private School</h2>
      <p class="white-text">Welcome to the school of Geniuses!</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Legacy Logo</h2>
      <p class="white-text">The school with the best Qualified teachers</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Learning today, Leading tommorow</h2>
      <p class="white-text">It's exactly as our motto says!</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Come one, come all.</h2>
      <p class="white-text"> Give your children a better future<br/>Enroll your children now!</p>
    </div>
  </div>
      


<div class="slideshow" id="carousel container center-align fixed" style="background-color: rgba(0, 128, 0, .2) !important;">
  <img class="mySlides" src="../public/images/aaron-burden-236415.png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/ben-white-148435.png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/clay-banks-258326 (1).png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/element5-digital-352043.png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/gaelle-marcel-8992.png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/j-kelly-brito-256889.png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/jeremy-bishop-131058.png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/jeshoots-com-357165.png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/jesse-orrico-60373.png" width="50%" height="50%" class="responsive-img">
  <img class="mySlides" src="../public/images/kimberly-farmer-287677.png" width="50%" height="50%" class="responsive-img">
</div>


<div id="homepage">

  <div class="row">
    <div class="col m6 s12 section card small">

      <h4 class="flow-text teal white-text">Welcome to our school!</h4>
      <div class="divider"></div>
      <p> Legacy School is a school consisting of primary and secondary section with the main objective of improving the qality
        of education of education in the country by providing students with qualified and talented teachers as well as well
        equipped facilitiees so as to make better the future of Nigerians.
        <br>
        <a href="/about legacy school" class="btn waves-effect waves-light right">Read more</a>
      </p>
    </div>



    <div class="col m6 s12 section card">
      <h4 class="flow-text">Notifications</h4>
      <div class="divider"></div>
      <img src="../public/images/Mr. taiwo.nnpng.png" alt="The winner of MAN's competition" class="responsive-img left">
      <abbr title="Mathematics Association of Nigeria"></abbr>
      <p> Legacy emerges thid in the tenth
        <abbr title="Mathematics Association of Nigeria">MAN&rsquo;s</abbr> competition. Stuff Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut et, dolorem error
        nihil illum magnam quod dolor consequuntur, numquam nulla commodi odit, autem repudiandae quam iste minima! Iure,
        quae in. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, eaque dolorum! Libero ex, placeat repudiandae
        magni architecto doloremque magnam recusandae atque quod dolor nulla! Explicabo consequuntur rerum quas temporibus
        pariatur!
      </p>
    </div>
  </div>



  <div class="row">
    <div class="col m6 s12 section card">

      <h4 class="flow-text">Academic Programs</h4>
      <div class="divider"></div>
      <p> Legacy emerges thid in the tenth MAN's competition. Stuff Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Aut et, dolorem error nihil illum magnam quod dolor consequuntur, numquam nulla commodi odit, autem repudiandae quam
        iste minima! Iure, quae in. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, eaque dolorum! Libero ex,
        placeat repudiandae magni architecto doloremque magnam recusandae atque quod dolor nulla! Explicabo consequuntur
        rerum quas temporibus pariatur!</p>
    </div>


    <div class="col m6 s12 section card">

      <h4 class="flow-text">Admissions</h4>
      <div class="divider"></div>
      <p> Legacy emerges thid in the tenth MAN's competition. Stuff Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Aut et, dolorem error nihil illum magnam quod dolor consequuntur, numquam nulla commodi odit, autem repudiandae quam
        iste minima! Iure, quae in. Lorem ipsum dolor sit amet consectetur adipisicing elit. At, eaque dolorum! Libero ex,
        placeat repudiandae magni architecto doloremque magnam recusandae atque quod dolor nulla! Explicabo consequuntur
        rerum quas temporibus pariatur!</p>
    </div>
  </div>
</div>