<div class="legacy alumna ">

  <h3 class="center-align teal white-text x3 hpadding">
    <img src="../public/images/legacy alumna.jpg" alt="Legacy Alumna logo" class="responsive-img circle center-align" width="80px">&nbsp; &nbsp;
    <span> Legacy Alumna</span>
  </h3>


</div>