<div class="legacy alumni ">
  <span><img src="../public/images/legacy alumna.jpg" alt="legacy alumni logo" class="responsive-img circle" width="80px"></span><h3 class="center-align teal white-text x3 hpadding ">
   <span> legacy alumni</span>
  </h3>


</div>