<div class="principal-officers">
  <h3 class="center-align teal white-text x25 hpadding">Principal Officers of the School</h3>

  {{!-- <div class="row">
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Proprietor</span>
        </div>
        <div class="card-content">
          <p>Mr. Oriyomi Opaleye.<br/>
          The Proprietor of the School
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Proprietress</span>
        </div>
        <div class="card-content">
          <p>Mrs. Oriyomi Opaleye<br/>
          The proprietress of the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Principal</span>
        </div>
        <div class="card-content">
          <p>Mrr. Taiwo Adeshina<br/>
          The principal of the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Vice Principal</span>
        </div>
        <div class="card-content">
          <p>Mrs. Oriyomi Opaleye<br/>
          The vice principal of the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Head Master</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">Primary section</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">Secondary Section</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">Secondary Section</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">Primary Section</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">Secondary Section</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image circle">
          <img src="../../public/images/Mr. taiwo.nnpng.png">
          <span class="card-title">Teacher</span>
        </div>
        <div class="card-content">
          <p>Mrs. John Doe<br/>
          Teacher at the school
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div> --}}